<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Articles REST API</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1>Articles REST API</h1>

        <table class="table table-hover">
            <thead class="thead-dark">
                <th scope="col">HTTP Verbs</th>
                <th scope="col">/articles</th>
                <th scope="col">/article/&ltarticleTitle&gt</th>
            </thead>
            <tbody>
                <tr scope="row">
                    <th>GET</th>
                    <td>Fetches all the articles</td>
                    <td>Fetches the article on &ltarticleTitle&gt</td>
                </tr>
                <tr scope="row">
                    <th>POST</th>
                    <td>Creates one new article</td>
                    <td></td>
                </tr>
                <tr scope="row">
                    <th>PUT</th>
                    <td></td>
                    <td>Updates the article on &ltarticleTitle&gt</td>
                </tr>
                <tr scope="row">
                    <th>PATCH</th>
                    <td></td>
                    <td>Updates the article on &ltarticleTitle&gt</td>
                </tr>
                <tr scope="row">
                    <th>DELETE</th>
                    <td>Delete all the articles</td>
                    <td>Delete the article on &ltarticleTitle&gt</td>
                </tr>
            </tbody>


        </table>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>
